.mom{
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.headerflex{

  height: 42px;
  /* margin-top: 26px; */
  
  display: flex;
  justify-content: space-between;
  padding-left: 104px;
  padding-right: 135px;
  /* background-color: aqua; */
  color:#262626;
  font-family: Proxima Nova;

}
.language-select{
  background-color: white;
  color: black;
  border: none;
}
.currency-select{
  background-color: white;
  color: black;
  border: none;
}


.leftflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  color: #262626;
}
.rightflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  gap: 8px;
  
}
.header-img{
  padding-left: 5px;
}
.header-price{
  padding-left: 5px;
}

